@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600";

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";

:root {
  font-family: Playfair Display, serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
}

body {
  margin: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.customButton.Mui-root {
  &:hover {
    background-color: rebeccapurple;
  }
}
