.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  display: grid;

  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1000px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    display: grid;

    justify-items: center;
    gap: 20px;
    margin: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

    max-width: 1000px;
  }
}

.aboutText {
  p {
    padding: 0px;
    margin: 0px;
  }
}
